/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html {
	font: 62.5% verdana, sans-serif;
	background: rgb(197, 183, 162);
}

body {
	font-size: 1.6rem;
}

.clear-it {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	display: block;
}

header {
	-moz-border-radius: 7px 7px 0px 0px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	background: url(../images/bg.png);
	padding: 0 20px 0 20px;
	margin: 7px auto 25px auto !important;
	max-width: 1200px;
	font: 3.0rem 'Francois One', arial, serif;
	letter-spacing: 0.5rem;
	color: #FFF;
}

header h1 { 
	font: 7.0rem 'Francois One', arial, serif; 
	margin: 35px 0 15px 0;
	color: white;
}

header h1.show-on-phones { 
	font-size: 5.0rem;
}

header a:link, header a:visited {
	font: 3.0rem 'Francois One', arial, serif;
	letter-spacing: 0.5rem;
	text-decoration: none;
	margin: 80px 0 0 28px;
	display: inline-block;
	border: none;
	color: #FFF;
}

header a:hover {
	border-bottom: 1px dotted #FFF;
}

h2 {
	font: 4.0rem 'Francois One', arial, serif;
	letter-spacing: 0.5rem;
	line-height: 3.0rem;
	padding: 0;
	margin: 0;
}

a:link, a:visited {
	text-decoration: none;
	border-bottom: 1px dotted #000;
	color: #000;
}

a:hover {
	border: none;
}

sup {
	font-size: 13px;
}

footer {
	font-size: 12px;
	margin-bottom: 25px;
	text-align: center;
}

footer a:link, footer a:visited {
	border: none;
}

#jquery-lightbox a {
	border-bottom: none;
}

#embedagram, #embedagram-phone {
	margin-bottom: 5px;
	text-align: center;
}

#embedagram a {
	margin: 0 10px 20px 10px;
	line-height: 0;
	border: 4px solid #5C4231;
	display: inline-block;
}

#embedagram-phone a {
	display: block;
	line-height: 0;
	width: 200px;
	border: 4px solid #5C4231;
	margin: 0 auto 20px auto;
}
