html {
	padding: 0;
	margin: 0;
	background: #000;
	font: 13px/20px verdana, sans-serif;
	background: url(../images/bg.png);	
}

body {
	margin: 0;
	padding: 0;
}

.clear-it {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	display: block;
}

#wrapper {
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border-radius: 7px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
    border: 2px solid #5C4231;
    width: 500px;
    background: #FFF;
    padding: 0 20px 0 20px;
    margin: 25px auto 25px auto;
}

#header { 
    text-align: center; 
    border-bottom: 3px solid #000;
}

#header h1 { 
    font: 70px/72px 'Francois One', arial, serif; 
    margin: 35px 0 15px 0;
}

#content {
    letter-spacing: 0.1px;
    padding: 15px 10px 0 10px;
}  

#content h1 {
    font: 15px/25px 'Francois One', arial, serif;
    margin: 12px 0 7px 0;
    letter-spacing: 1px;
}

#content a:link, #content a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    color: #000;
}

#content a:hover {
    border: none;
}

#content sup {
    font-size: 11px;
}

#content p.footnote {
    font-size: 10px;
}

#embedagram {
	width: 500px;
	margin: 0 auto 25px auto;
	text-align: center;
}

#embedagram a {
	margin: 0 10px 0 10px;
	border: 4px solid #5C4231;
	display: inline-block;
}
